.btn {
	border-radius: 6px !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	min-width: 100px !important;
	padding: 0 16px !important;
	font-family: @font-family-heading;
	margin-bottom: 0 !important;
	position: relative;
	text-transform: capitalize !important;
	// border: none;
	i {
		position: absolute;
		top: 8px;
		left: 8px;
		margin-right: 16px;
		font-size: 18px;
	}
	&:hover {
		// border: none;
	}
	&:focus {
		outline: none;
	}
	&.btn-primary {
		background-color: @brand-primary;
		color: #fff;
		&:active,
		&:hover {
			border-color: @brand-primary !important;
		}
	}
	&.btn-secondary {
		background-color: @brand-secondary;
		color: #fff;
	}
	&.btn-white {
		background-color: #fff;
		color: @brand-primary;
		&.btn-bordered {
			background-color: transparent;
			color: #fff !important;
			&:focus {
				outline: none;
			}
			&:hover,
			&:visited {
				color: #fff !important;
				border: 2px solid #fff;
			}
		}
		&:focus {
			outline: none;
		}
		&:hover,
		&:visited {
			background-color: #fff;
			color: @brand-primary !important;
		}
	}
	&.btn-full {
		width: 100%;
	}
	&.btn-info {
		border: none;
		color: #fff;
		text-transform: capitalize;
	}
	&.btn-success {
		border: none;
		color: #fff;
		text-transform: capitalize;
	}
	&.btn-sm {
		&:hover {
			min-height: 30px !important;
		}
	}
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	.opacity(65);
}
