.btn {
	font-weight: 500;
	border-radius: 6px !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	min-width: 120px !important;
	font-family: @font-family-heading;
	&.btn-white {
		background-color: #fff;
		color: @brand-primary;
		text-transform: capitalize;
	}
}
