body {
	-webkit-font-smoothing: antialiased !important;
	color: @base;
	font-family: @font-family-body !important;
	font-size: @font-size-base;
	line-height: @line-height-base;
	height: 100%;
	background-color: #f9f9f9 !important;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
}

.module.left,
.module-group.left {
	float: left;
}
.module.right,
.module-group.right {
	float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @font-family-heading !important;
}
a {
	font-family: @font-family-heading;
}

.page-title {
	font-size: 36px;
}
.pointer {
	cursor: pointer;
}
.middle {
	vertical-align: middle;
}
.text-white {
	color: #fff !important;
}
/* General Styles
------------------------------------
*/

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased !important;
	color: @base;
	font-family: @font-family-body !important;
	font-size: @font-size-base;
	line-height: @line-height-base;
	height: 100%;
}

.clearfix {
	clear: both;
}

.pointer {
	cursor: pointer;
}

a {
	.a-color(@brand-primary, @brand-secondary);
}

/* Heading Styles
  ------------------------------------
  */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: @font-family-heading !important;
}
p.lead {
	@media (max-width: 767px) {
		font-size: 18px;
		line-height: 24px;
	}
}

section {
	h3.section-title {
		font-size: 53px !important;
		line-height: 63px !important;
		text-transform: capitalize !important;
		color: @brand-dark;
		font-weight: 600 !important;
		@media (max-width: 767px) {
			font-size: 40px !important;
			line-height: 48px !important;
		}
	}
	h4.white {
		margin-bottom: 16px;
	}
	h3.section-title2 {
		font-size: 49px;
		font-weight: 600;
		line-height: 59px;
		letter-spacing: -0.016em;
		@media (max-width: 767px) {
			font-size: 32px !important;

			line-height: 40px !important;
		}
	}
	h4.section-subtitle {
		font-size: 32px !important;
		line-height: 38px !important;
		font-weight: 400;
		@media (max-width: 767px) {
			font-size: 18px !important;
			line-height: 24px !important;
		}
	}
}
red {
	color: @red;
}

.loaded.nav-visible .header-9 {
	transform: translate3d(-230px, 0, 0);
}

.loaded .header-9 {
	webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all .33s cubic-bezier(.694, .0482, .335, 1);
	transition: all .33s cubic-bezier(.694, .0482, .335, 1);
}

h1,
.h1 {
	font-size: @font-size-h1; /* 64px */
}
h2,
.h2 {
	font-size: @font-size-h2; /* 52px */
}
h3,
.h3 {
	font-size: @font-size-h3; /* 40px */
}
h4,
.h4 {
	font-size: @font-size-h4; /* 29px */
}
h5,
.h5 {
	font-size: @font-size-h5; /* 28px */
}
h6,
.h6 {
	font-size: @font-size-h6; /* 24px */
}

/* Scroll
  ------------------------------------
  */

.scrollable {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* Overides
  ------------------------------------
  */

.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}
.no-overflow {
	overflow: hidden !important;
}
.auto-overflow {
	overflow: auto;
}

/* Text Helpers
  ------------------------------------
  */

.text-left {
	text-align: left !important;
}

.t-xxl {
	font-size: 30px;
}

.t-xl {
	font-size: 24px;
}

.t-l {
	font-size: 16px;
}

.t-s {
	font-size: 12px;
}

.t-xs {
	font-size: 10px;
}

.t-xxs {
	font-size: 8px;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 600;
}

@line-iterations: 80;
.line-loops(@i) when(@i > -8) {
	.lh@{i} {
		line-height: ~"@{i}px" !important;
	}
	.line-loops(@i - 8);
}
.line-loops(@line-iterations);

/* Margin Padding Helpers
  ------------------------------------
  */

@iterations: 80;
.helper-loops(@i) when(@i > -8) {
	.pt@{i} {
		padding-top: ~"@{i}px" !important;
	}
	.pr@{i} {
		padding-right: ~"@{i}px" !important;
	}
	.pb@{i} {
		padding-bottom: ~"@{i}px" !important;
	}
	.pl@{i} {
		padding-left: ~"@{i}px" !important;
	}
	.p@{i} {
		padding: ~"@{i}px" !important;
	}
	.mt@{i} {
		margin-top: ~"@{i}px" !important;
	}
	.mr@{i} {
		margin-right: ~"@{i}px" !important;
	}
	.mb@{i} {
		margin-bottom: ~"@{i}px" !important;
	}
	.ml@{i} {
		margin-left: ~"@{i}px" !important;
	}
	.m@{i} {
		margin: ~"@{i}px" !important;
	}

	.helper-loops(@i - 8);
}
.helper-loops(@iterations);

/* Border Helpers
  ------------------------------------
  */
.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
	border-style: solid;
	border-width: 0;
}
.b-r {
	border-right-width: 1px;
}
.b-l {
	border-left-width: 1px;
}
.b-t {
	border-top-width: 1px;
}
.b-b {
	border-bottom-width: 1px;
}
.b-a {
	border-width: 1px;
}
.b-dashed {
	border-style: dashed;
}
.b-thick {
	border-width: 2px;
}

/* General Helpers
  ------------------------------------
  */

.full-height {
	height: 100% !important;
}
.full-width {
	width: 100%;
}
.hide,
.ng-hide {
	display: none;
}

/* Colours
  ------------------------------------
  */

.brand-primary {
	color: @brand-primary !important;
}
.brand-secondary {
	color: @brand-secondary;
}
.brand-light {
	color: mix(@brand-primary, #fff, 10%);
}

.red {
	color: @red;
}
.yellow {
	color: @yellow;
}
.cyan {
	color: @cyan;
}
.sky {
	color: @sky;
}
.purple {
	color: @purple;
}
.brand-grey {
	color: @brand-grey;
}
.dark-grey {
	color: @dark-grey;
}
.light-grey {
	color: @light-grey;
}
.lighter-grey {
	color: @lighter-grey;
}
.grey {
	color: @grey;
}
.green {
	color: @green;
}

.brand-primary-bg {
	background-color: @brand-primary;
}

.brand-secondary-bg {
	background-color: @brand-secondary;
}

.brand-light-bg {
	background-color: mix(@brand-primary, #fff, 10%);
}

.red-bg {
	background-color: @red;
}
.yellow-bg {
	background-color: @yellow;
}
.cyan-bg {
	background-color: @cyan;
}
.sky-bg {
	background-color: @sky;
}
.purple-bg {
	background-color: @purple;
}
.brand-grey-bg {
	background-color: @brand-grey;
}
.dark-grey-bg {
	background-color: @dark-grey;
}
.light-grey-bg {
	background-color: @light-grey;
}
.lighter-grey-bg {
	background-color: @lighter-grey;
}
.grey-bg {
	background-color: @grey;
}
.green-bg {
	background-color: @green;
}

.brand-primary-bd {
	border-color: @brand-primary;
}
.brand-secondary-bd {
	border-color: @brand-secondary;
}

.brand-light-bd {
	border-color: mix(@brand-primary, #fff, 10%);
}

.red-bd {
	border-color: @red;
}
.yellow-bd {
	border-color: @yellow;
}
.cyan-bd {
	border-color: @cyan;
}
.sky-bd {
	border-color: @sky;
}
.purple-bd {
	border-color: @purple;
}
.brand-grey-bd {
	border-color: @brand-grey;
}
.dark-grey-bd {
	border-color: @dark-grey;
}
.light-grey-bd {
	border-color: @light-grey;
}
.lighter-grey-bd {
	border-color: @lighter-grey;
}
.grey-bd {
	border-color: @grey;
}
.green-bd {
	border-color: @green;
}

/* Icons
  ------------------------------------
  */

.icon-spin {
	.rotate(360deg);
	.transition(transform 0.4s ease-out);
}

.icon-l {
	font-size: 16px;
}

.icon-xl {
	font-size: 20px;
}

.icon-xxl {
	font-size: 24px;
}

.icon-jumbo {
	font-size: 32px;
}
.mh40 {
	min-height: 40px !important;
}
.mh64 {
	min-height: 64px !important;
}
// section {
//     padding-top: 6.5em !important;
//     padding-bottom: 8.125em !important;
// }
.right {
	text-align: right !important;
}

.shimmer-item {
	background: #fff;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	margin: 0 auto;
	width: 100%;
}
.masker {
	background: #fff;
}
