/* Colors
------------------------------------
*/

@brand-primary: #ff6500;
@brand-secondary: #4c4c4c;
@red: #f55753;
@yellow: #f8d053;
@cyan: #10cfbd;
@sky: #48b0f7;
@green: #64c458;
@purple: #6d5cae;
@grey: #788195;
@brand-grey: #3b4752;
@dark-grey: @brand-secondary;
@light-grey: rgba(100, 100, 100, 0.5);
@lighter-grey: rgba(100, 100, 100, 0.1);

/* Greys
------------------------------------
*/

@concrete: #95a5a6;
@asbestos: #7f8c8d;
@silver: #bdc3c7;
@dirty-white: #f5f5f5;
@inverse: white;
@black: black;
@cream: #bfc3c2;

/* Base Style
------------------------------------
*/

@font-size-base: 14px;
@line-height-base: 1.72222;
@text-color-heading: @black;
@text-color-default: @asbestos;
@base: @black;

/* Font Style
------------------------------------
*/

@font-family-heading: 'Azo Sans', sans-serif;
@font-family-body: 'Noto Sans', sans-serif;
