.home {
    /* Common */
    .addons-parent {
        .addons-wrapper {
            display: flex;
            justify-content: space-around;
        }
    }
    section {
        padding-top: 64px;
        padding-bottom: 64px;

        @media (max-width: 767px) {
            padding-top: 48px;
            padding-bottom: 36px;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            padding-top: 64px;
            padding-bottom: 48px;
        }
    }

    .section-heading {
        @media (max-width: 767px) {
            font-size: 20px;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 32px !important;
        }
    }

    .pm-24 {
        @media (max-width: 767px) {
            padding-right: 24px !important;
            padding-left: 24px !important;
        }
    }

    .page-header {
        background-size: cover;
        height: 600px;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;

        .tagline {
            position: relative;
            padding: 88px 120px;

            h1 {
                color: $white;
                font-weight: 600;
                margin-bottom: 24px;
                font-size: 40px;

                span {
                    color: $brand-primary;
                }
            }

            h3 {
                color: $white;
                font-weight: 400;
                font-size: 24px;
                line-height: normal;
            }
        }

        @media (max-width: 767px) {
            height: 50vh;

            .tagline {
                padding: 16px 0;

                h1 {
                    font-size: 32px;
                    line-height: 40px;
                }

                h3 {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        /* iPhone 6, 6S, 7 and 8 Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            .tagline {
                h1 {
                    line-height: 30px;
                    margin-bottom: 8px !important;
                }
            }
        }

        /* iPhone 6+, 6S+, 7+ and 8+ Portrait */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
            .tagline {
                h1 {
                    font-size: 30px;
                    margin-bottom: 8px !important;
                }
            }
        }

        /* iPhone 6+, 6S+, 7+ and 8+ Landscape */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            .tagline {
                padding: 10px 0 !important;

                h1 {
                    margin-bottom: 8px !important;
                }
            }
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            .tagline {
                padding: 24px 0;
            }
        }

        /* iPad Portrait */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            .tagline {
                padding: 78px 24px;
            }
        }
    }

    .section-home {
        &.dark {
            background-image: url('../assets/images/pattern.svg');
        }

        .infographic {
            height: 400px;
            @media (max-width: 767px) {
                height: 240px;
            }
        }

        .slider-image {
            height: 200px;

            @media (max-width: 767px) {
                height: 120px;
            }
        }
    }

    .content-area {
        margin-top: -72px;
        position: relative;
        z-index: 0;
        padding: 0 24px;

        .content {
            border-radius: 6px;
            padding: 24px;
            padding-bottom: 32px !important ;
            background-image: url('../assets/images/pattern.svg');
            background-size: cover;
            background-position: center center;
            color: #fff;
            background-color: $brand-primary;
            box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1) !important;

            @media (max-width: 767px) {
                padding: 24px !important;
            }

            .header {
                .icon {
                    position: absolute;
                    top: -2px;
                }

                @media (max-width: 767px) {
                    .icon {
                        height: 20px;
                    }

                    .section-title-2 {
                        .pl48 {
                            padding-left: 36px !important;
                        }
                        font-size: 16px !important;
                    }
                }
            }
        }

        @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
            margin-top: -15px;
        }

        /* iPhone 6, 6S, 7 and 8 Portrait */
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            margin-top: -16px;
        }

        /* iPhone 6, 6S, 7 and 8 Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            margin-top: -10%;
        }

        /* iPhone 6+, 6S+, 7+ and 8+ Landscape */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            margin-top: -10% !important;
        }

        /* iPhone x Portrait */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
            margin-top: -12px !important;
        }

        /* iPhone x Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            margin-top: -46px !important;
        }

        /* iPad Landscape */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            margin-top: -64px;
            .content {
                padding: 24px 24px 0;
            }
        }

        /* iPad Landscape */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            margin-top: -52px;
        }
    }
    .how-it-works {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            padding-bottom: 0px;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            padding-bottom: 0px;
        }

        .section-heading {
            @media (max-width: 767px) {
                line-height: 1.5;
            }
        }

        .works-wrapper {
            @media (max-width: 767px) {
                margin: 32px 0 0 0 !important;
                padding-bottom: 0px !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                margin-top: -8px !important;
            }
            .work {
                padding: 16px 24px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                min-height: 300px;
                cursor: pointer;
                margin: 8px 0;

                @media (max-width: 767px) {
                    margin-top: -8px;
                    padding: 2px;
                    min-height: 120px;
                    height: 240px;
                }

                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                    padding: 8px;
                }

                .section-subtitle {
                    @media (max-width: 767px) {
                        font-size: 14px !important;
                    }
                }

                .desc {
                    @media (max-width: 767px) {
                        font-size: 13px !important;
                    }
                }

                .counter {
                    padding: 16px;
                    h6 {
                        background: $brand-primary;
                        color: $white;
                        margin: 0 auto;
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        padding: 16px;
                        box-shadow: 0 10px 10px 0 rgba(255, 101, 0, 0.46);

                        @media (max-width: 767px) {
                            font-size: 12px;
                            width: 24px;
                            height: 24px;
                            padding: 6px;
                        }
                    }
                }

                &:hover {
                    background: $brand-primary;
                    color: $white;

                    @media (max-width: 767px) {
                        background: $white;
                        color: $brand-secondary;

                        .counter {
                            h6 {
                                background: $brand-primary !important;
                                color: $white !important;
                                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.12);
                            }
                        }
                        h4 {
                            color: $brand-secondary !important;
                        }
                    }

                    .counter {
                        h6 {
                            background: $white;
                            color: $brand-primary;
                            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.12);
                        }
                    }

                    h4 {
                        color: $white;
                    }
                }
            }
        }
    }

    .create-ad {
        padding-bottom: 84px !important;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            padding-top: 64px !important;
        }

        @media (max-width: 767px) {
            padding-bottom: 64px !important;
        }

        .content {
            margin-top: 64px;

            @media (max-width: 767px) {
                margin-top: 36px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                margin-top: 48px !important;
            }
        }

        .home_illustration {
            .image {
                background-image: url('../assets/images/billboard.png');
                height: 360px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                @media (max-width: 767px) {
                    height: 206px;
                }
            }
        }
        .create-ad-content {
            .create-ad-text {
                line-height: 1.5;

                @media (max-width: 767px) {
                    padding: 24px 0px !important;
                    padding-bottom: 0px !important;
                    h4 {
                        font-size: 16px;
                        margin-top: 16px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .hero {
        padding: 0;

        @media (max-width: 767px) {
            height: 100% !important;
            min-height: 0px;
        }

        .heroslider {
            background: #fff;
            height: 620px;

            @media screen and (max-width: 1440px) {
                height: 546px;
            }

            @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
                height: 124px;
            }

            /* iPhone 6, 6S, 7 and 8 Portrait */
            @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
                height: 154px;
            }

            /* iPhone 6, 6S, 7 and 8 Landscape */
            @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
                margin-top: -10%;
            }

            /* iPhone 6+, 6S+, 7+ and 8+ Landscape */
            @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
                height: 154px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                height: 294px !important;
            }

            /* iPad Pro Landscape */
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                height: 468px !important;
            }

            /* 2688x1242px at 458ppi */
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
                height: 620px !important;
            }

            /* iPad Pro Portrait */
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                height: 394px !important;
            }

            /* iPad Pro Portrait */
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                height: 526px !important;
            }

            /* iPad Landscape */
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                height: 392px !important;
            }

            /* iPhone x Portrait */
            @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
                height: 144px !important;
            }

            /* iPhone x LandScape */
            @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
                height: 308px !important;
            }

            /* 2688x1242px at 458ppi */
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                height: 291px !important;
                margin: 0px !important;
            }

            /* 2688x1242px at 458ppi */
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
                height: 160px !important;
                margin: 0px !important;
            }
            .agile {
                .slide {
                    .hero-wrapper {
                        height: 620px;

                        @media screen and (max-width: 1440px) {
                            height: 546px;
                        }

                        @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
                            height: 124px;
                        }

                        /* iPhone 6, 6S, 7 and 8 Portrait */
                        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
                            height: 154px;
                        }

                        /* iPhone 6, 6S, 7 and 8 Landscape */
                        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
                            margin-top: -10%;
                        }

                        /* iPhone 6+, 6S+, 7+ and 8+ Landscape */
                        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
                            height: 154px;
                        }

                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                            height: 294px !important;
                        }

                        /* iPad Pro Landscape */
                        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                            height: 468px !important;
                        }

                        /* 2688x1242px at 458ppi */
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
                            height: 620px !important;
                        }

                        /* iPad Pro Portrait */
                        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                            height: 394px !important;
                        }

                        /* iPad Pro Portrait */
                        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                            height: 526px !important;
                        }

                        /* iPad Landscape */
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                            height: 392px !important;
                        }

                        /* iPhone x Portrait */
                        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
                            height: 144px !important;
                        }

                        /* iPhone x LandScape */
                        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
                            height: 308px !important;
                        }

                        /* 2688x1242px at 458ppi */
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                            height: 291px !important;
                            margin: 0px !important;
                        }

                        /* 2688x1242px at 458ppi */
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
                            height: 160px !important;
                            margin: 0px !important;
                        }
                    }
                }
            }
        }
    }

    .overview {
        padding-bottom: 0px !important;
        @media (max-width: 767px) {
            padding-bottom: 0px !important;
        }

        .overview-content {
            padding-top: 0px !important;
            @media (max-width: 767px) {
                margin-top: 16px !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                margin-top: 32px !important;
            }
        }
        .overview-item {
            padding-top: 16px !important;
            @media (max-width: 767px) {
                padding: 8px !important;
                margin-top: 16px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                padding: 48px !important;
            }

            /* iPad Landscape */
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                padding: 48px !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                padding: 16px !important;
            }

            .overview_icon {
                height: 100px;
                width: 100px;
                @media (max-width: 767px) {
                    height: 48px;
                    width: 48px;
                }

                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                    height: 64px;
                    width: 64px;
                }
            }

            .overview_text {
                font-size: 18px;
                font-weight: bold;
                @media (max-width: 767px) {
                    font-size: 13px;
                }
            }
        }
    }

    .what-is {
        .section-subtitle {
            @media (max-width: 767px) {
                font-size: 13px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                font-size: 18px;
                margin-top: 24px;
            }
        }
        .channels {
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .channel {
                /* iPad Pro Portrait */
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                    margin: 16px 48px;
                }
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                    margin: 16px 48px;
                }
                img {
                    height: 30px;
                    border: 3px solid #c7c7c9;

                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                        height: 24px;
                    }
                }
            }
        }

        .channel-grid {
            @media (max-width: 768px) {
                display: none !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: none !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                margin-top: 20px !important;
                .channel {
                    margin: 14px -6px;
                }
            }
            /* iPad Pro Portrait */
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: flex !important;
                padding: 0 32px;
                justify-content: center;
                align-items: center;

                .channel {
                    margin: 0;
                    width: auto;
                    justify-content: center;

                    img {
                        height: 26px;
                    }
                }
            }
        }

        .channel-slider {
            display: none !important;
            @media (max-width: 768px) {
                display: block !important;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: block !important;
                margin: 48px 0;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                display: none !important;
            }

            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: block !important;
            }
            /* iPad Pro Portrait */
            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                display: none !important;
            }
        }

        .about {
            margin-top: 96px;
            .about_text p {
                padding-right: 32px;
                @media (max-width: 767px) {
                    margin-top: 32px;
                    font-size: 14px !important;
                }

                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                    margin-top: 32px;
                    font-size: 16px !important;
                }

                /* iPhone x Landscape */
                @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
                    margin-top: 24px !important;
                }
            }

            /* iPad Portrait */
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
                margin-top: 48px !important;
            }

            .about_illustration {
                .image {
                    background-image: url('../assets/images/localtvadsfam.png');
                    height: 360px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;

                    @media (max-width: 767px) {
                        height: 206px;
                    }

                    /* iPad Portrait */
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                        height: 480px;
                    }

                    /* iPad Pro Portrait */
                    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                        height: 308px;
                    }
                }
            }
        }
    }

    .latest-offers {
        .offers-slider {
            position: relative;

            .slide {
                .offer {
                    background: $white;
                    width: 320px;
                    margin: 64px 24px 40px;

                    .offer-image {
                        position: relative;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        height: 250px;
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .offer-content {
                        padding: 24px 16px;
                        text-align: center;
                        height: 140px;

                        p {
                            font-size: 16px;
                            color: #4a4a4a;
                        }
                    }

                    small {
                        position: absolute;
                        bottom: 8px;
                        right: 8px;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            .offers-slider {
                .slide {
                    .offer {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }

        /* iPhone 6, 6S, 7 and 8 Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        }

        /* iPhone 6+, 6S+, 7+ and 8+ Landscape */
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        }

        /* iPhone x Landscape */
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        }

        /* iPad Portrait */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            .offers-slider {
                .slide {
                    .offer {
                        width: 300px;
                        margin: 0 15px;
                    }
                }
            }
        }

        /* iPad Landscape */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            .offers-slider {
                .slide {
                    .offer {
                        width: 420px;
                        .offer-image {
                            height: 320px;
                        }
                    }
                }
            }
        }

        /* iPad Pro Portrait */
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            .offers-slider {
                .slide {
                    .offer {
                        width: 420px;
                        .offer-image {
                            height: 320px;
                        }
                    }
                }
            }
        }
    }

    .video {
        padding: 0 !important;
        .video-bg {
            height: 480px;
            width: 100%;
            background-image: url('../assets/images/video-bg.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            @media (max-width: 767px) {
                height: 240px;
            }
        }

        .play-button {
            color: $brand-primary;
            opacity: 0.8;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 50%;
            background-color: #fff;
            border-radius: 50%;
            padding: 24px 21px;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            border: 8px solid rgba(0, 0, 0, 0.2);

            img {
                width: 64px;
                height: 64px;
            }
        }

        @media (max-width: 767px) {
            min-height: 150px;

            .video-bg {
                background-position-x: 50%;
            }

            .play-button {
                width: 60px;
                height: 60px;
                padding: 9px 14px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            min-height: 350px;

            .video-bg {
                background-position-x: 55%;
            }
        }

        /* iPad Portrait */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            min-height: 350px;

            .video-bg {
                background-position-x: 55%;
            }
        }

        /* iPad Landscape */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            min-height: 350px;

            .video-bg {
                background-position-x: 55%;
            }
        }
    }

    .testimonial {
        p {
            line-height: 32px;
        }

        .testimonial-text {
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .testimonial-slider {
            padding: 0 40px;
            position: relative;

            .slide {
                .content {
                    margin: 80px 24px 40px;
                    background: $white;
                    text-align: center;
                    padding: 80px 48px 24px;
                    border-radius: 18px;
                    position: relative;
                    min-height: 340px;

                    /* iPad Portrait */
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
                        min-height: 240px;
                        height: 460px;
                    }

                    cursor: pointer;
                    .profile-photo {
                        position: relative;
                        top: -24px;

                        .background-image-holder {
                            width: 110px;
                            height: 110px;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -88px;
                            border-radius: 50%;
                            box-shadow: 0 2px 24px 0 rgba(161, 161, 161, 0.5);
                        }
                    }

                    .name {
                        font-size: 18px;
                        font-weight: 500;
                        color: #212121;
                    }

                    .company {
                        font-size: 18px;
                        font-weight: normal;
                        color: #212121;
                    }

                    .desc {
                        margin-top: 24px;
                        position: relative;
                    }
                }
            }

            @media (max-width: 767px) {
                padding: 0;

                .slide {
                    .content {
                        padding: 72px 16px 32px;
                    }
                }
            }
        }
    }

    .contact-us {
        .info {
            background-color: $brand-primary;
            background-image: url('../assets/images/pattern.svg');
            height: 100%;
            background-size: 170% 80%;
            background-position: 51% 0%;
            padding: 80px 96px;

            img {
                display: block;
                margin: 0 auto;
                width: 290px;
                opacity: 0.89;
                margin-bottom: 40px;
            }

            h1 {
                font-weight: 500;
                margin-bottom: 24px;
                font-size: 40px;
            }

            p {
                line-height: 32px;
                color: $white;
            }
        }

        .contact-form-image {
            @media (max-width: 767px) {
                display: none;
            }
        }

        .contact-form {
            padding: 80px 104px;

            label {
                color: #2c3241;
            }
        }

        @media (max-width: 767px) {
            .info {
                padding: 40px;

                img {
                    width: 200px;
                }
            }

            .contact-form {
                padding: 40px 30px;
            }
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
            .info {
                padding: 40px;

                img {
                    width: 200px;
                }
            }

            .contact-form {
                padding: 40px 30px;
            }
        }

        /* iPad Portrait */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
            .info {
                padding: 40px;

                img {
                    width: 200px;
                }
            }

            .contact-form {
                padding: 48px 48px 48px 28px;
            }
        }

        /* iPad Landscape */
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            .info {
                padding: 60px 40px;

                img {
                    width: 200px;
                }
            }

            .contact-form {
                padding: 48px 48px 48px 28px;
            }
        }
    }

    .subscription {
        p {
            line-height: 32px;
        }

        .signup-btn {
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
        }

        .subscription-form {
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-image: url('../assets/images/mail.svg');
                background-repeat: no-repeat;
                background-position: 16px 14px;
                padding-left: 52px;

                @media (max-width: 767px) {
                    background-position: 16px 10px !important;
                }
            }
        }
    }
}
