.body {
	font-family: $font-family-body;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading !important;
}
a {
	font-family: $font-family-heading;
}
.page-title {
	font-size: 36px;
}
.pointer {
	cursor: pointer;
}
.middle {
	vertical-align: middle;
}
